<div class="example-container">
  <h1 align=center>Add Project</h1>
  <mat-form-field>
    <input matInput placeholder="Project">
  </mat-form-field>

  <div class="date-picker-form-control-container">
    <div class="date-picker-checkbox">
      <mat-checkbox [(ngModel)]="setDate">Set start date and end date</mat-checkbox>
    </div>
    <div class="date-picker-container">
      <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Start Date" [formControl]="startDate"
          [disabled]="!setDate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput [matDatepicker]="picker2" placeholder="End Date" [formControl]="endDate" [disabled]="!setDate">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>
    </div>
  </div>
<div class="date-picker-form-control-container">
  <div>Priority : </div>
  <div><mat-slider thumbLabel [displayWith]="formatLabel" 
    tickInterval="1" min="1" max="50" ></mat-slider>
  </div>
  </div>
</div>